.App {
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  width: 60%;
}

.link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 20px;
  background: unset;
  border: unset;
}

.test-link-hover {
  color: plum;
}

h1 {
  font-size: 50px;
}

.easter-egg {
  margin: 0 auto;
  width: 500px;
  margin-bottom: 50px;
}

.easter-egg img {
  width: 90%;
}

body {
  background: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
